body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative; /* Ensure body is relative for absolute positioning */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #2874a7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001; /* Ensure button is above overlay */
}

.menu-button:hover {
    background-color: #51a6df;
}

.tabcontent {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
}

.info {
    margin-top: 20px;
    text-align: center;
}

.info h1 {
    font-size: 24px;
}

.info p {
    font-size: 18px;
    margin: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #2874a7;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #51a6df;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#yeat {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.overlay.active {
    display: flex !important; /* Override any potential display:none */
}

select {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#lyfeOption {
    display: none;
}
